@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Josefin+Sans:wght@200&family=Supermercado+One&display=swap');

/* font-family: Apercu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */

.App {
  text-align: center;
}

body {
  text-align: center;
  background-color: #FFF0E5;
  font-family: Apercu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}


/* .element {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.element img {
  height: 200px;
  border: 3px solid #000;
  border-radius: 20px;
  margin: 2px auto;
  padding: 20px;
}

.element-div {
  height: 200px;
  border: 3px solid #000;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
} */
